@import "tailwindcss";
* {
  scroll-behavior: smooth;
}
button {
  @apply cursor-pointer;
}

::-webkit-scrollbar {
  width: 5px; /* width of vertical scrollbar */
  height: 8px; /* height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #b1b1b1; /* track color */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #353434; /* scrollbar color */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* hover color */
}
